.header {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
.image {
    padding-left: 15px;
    max-height: 200%;
    max-width: 200%;
}
.headerText{
  font-size: 70px;
  margin: auto 0;
  font-weight: bold;
  color: #202125;
  text-align: center;
}